@font-face {
font-family: 'Poppitandfinch';
src: url('../fonts/PoppitAndFinch.otf') format('opentype');
font-weight: 400;
font-style: normal;
font-display: swap;
}
@font-face {
font-family: 'Poppitandfinchsans';
src: url('../fonts/PoppitAndFinchSans.otf') format('opentype');
font-weight: 400;
font-style: normal;
font-display: swap;
}

@font-face {
font-family: 'PalatinoLinotype';
src: url('../fonts/PalatinoLinotype-Bold.ttf') format('truetype');
font-weight: 700;
font-style: regular;
font-display: swap;
}

@font-face {
font-family: 'Montserrat-Light';
src: url('../fonts/Montserrat-Light.ttf') format('truetype');
font-weight: 300;
font-style: regular;
font-display: swap;
}



#bodyy {
   background-color:rgba(199, 177, 136, 0.88);
  background-image: url("/images/bg-video.mp4-high.gif");
}
.PalatinoLinotype {
   font-family: PalatinoLinotype, serif;
}
.montserrat {
    font-family: Montserrat-Light, sans-serif;
}
.Poppitandfinch {
    font-family: Poppitandfinch, sans-serif;
}
  
.Poppitandfinchsans {
    font-family: Poppitandfinchsans, sans-serif;
}

.text-blau {
    color: #7d131b;
}

.bg-blau {
    background-color: rgba(199, 177, 136, 0.88);
}
